.container {
    width: 240px;
    height: 240px;
    border: 2px solid #000;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    /* display: grid;
    grid-template-columns: repeat(4, 1fr); */
}

.container .box {
    border: 1px solid black;
    width: 58px;
    height: 58px;
}

.container .box.hideColor {
    background-color: #fff !important;
}